body {
Background-color: #e1e1e1;
}

.navigation{
 text-align: center;
 margin-bottom: 20px;
 padding: 10px;
 background-color: #f1f1f1;
}

.wrapper { 
  width: 940px; 
  margin: 0 auto;
}

.title {
  Text-align: center;
  Text-decoration: underline; Font-weight: 600;
  Font-size: 18px; Color: #333333;
  padding-bottom: 50px;}

.autor, .topic, .definition { 
  Float: left;
  padding: 20px; 
  margin: 5px; 
  height: 200px;
  }

.autor {
  Width: 250px;
  Background-color: #4583e6; Color: #ffffff;
}

.topic { 
  Width: 250px;
  Background-color: #336e20; Color: #ffffff;
}

.definition {
  Width: 250px;
  Background-color: #9d16a4; Color: #ffffff;
}





